$yellow: lighten(yellow, 35%);
$light-orange: #eddab8;
$light-green: #ede7bd;
$purple: #C493FF;
$grey: #F0F0F0;
$dark-grey: #494949;

html {
  font-size: 62.5%;
}
body {
  color: $black;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: $grey;
    border: 1px solid $grey;
    height: 1px;
}
