.c-gallery {
  height: 50rem;
  position: relative;
  width: 60rem;
  &__slide {
    margin-bottom: 40px;
  }
  @include touch() {
    margin: 0 auto;
  }
  @include mobile() {
    height: auto;
    width: auto;
  }
}
