%u-title-underline {
  &:before {
    background-color: $light-orange;
    bottom: .4rem;
    content: '';
    display: inline-block;
    height: 2rem;
    left: 5.7rem;
    position: absolute;
    width: 10rem;
    z-index: -1;
  }
}
.u-btn {
  @extend %hvr-sweep-to-right;
  background-color: white;
  border: .3rem solid $black;
  cursor: pointer;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  padding: .3em;
  text-transform: uppercase;
  width: 100%;
  &:active {
    top: 1px;
  }
  &:focus {
    outline: none;
  }
  &__wrapper {
    display: block;
    position: relative;
    &:before {
      background-color: $light-orange;
      bottom: -1.5rem;
      content: '';
      display: inline-block;
      height: 3.5rem;
      right: -1.5rem;
      position: absolute;
      width: 15rem;
      z-index: -1;
    }
  }
}
.u-columns {
  @include desktop() {
    align-items: center;
    display: flex;
  }
}
.u-header--md {
  font-size: 2.4em;
  font-weight: bold;
  padding: 0 1.6rem;
}
.u-paragraph {
  font-size: 1.6em;
  padding: 0 1.6rem;
  &--md {
    font-size: 2em;
  }
}
.u-hide {
  display: none;
}
.u-hide--desktop {
  @include desktop() {
    display: none;
  }
}
.u-hide--tablet {
  @include touch() {
    display: none;
  }
}
.u-section {
  width: 90rem;
  padding: 2rem 2rem 2rem 0;
  @include touch() {
    padding: 0 2rem 4rem;
    width: 100%;
  }
  &__title {
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 0 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }
}
.u-text-center {
  text-align: center;
  @include desktop() {
    text-align: left;
  }
}
.u-warning {
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
